body {
  background-image: url("./background.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
#piechart {
  position: absolute;
  left: 2%;
  top: 25%;
}
#piechart svg rect {
  fill: none;
}
#infor {
  position: absolute;
  right: 11%;
  top: 20%;
}
.statistic {
  font-size: 18px;
  position: absolute;
  bottom: 20%;
  left: 16%;
  color: red;
  font-weight: 900;
}
